.catalog-space {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.catalog-space__item {
  margin-bottom: 6px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: -4px;
  }
}

.catalog-space__inner-img img {
  display: block;
}

.catalog-space__text {
  font-family: "Poppins", "Verdana", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $special-black-text;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 7px;

  @media (max-width: $tablet-width) {
    margin-top: 20px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 15px;
  }
}

.catalog-space__link {
  text-decoration: none;
  color: $special-black-text;

  &:hover {
    color: $basic-brown;
  }

  &:focus {
    color: $basic-brown;
  }
}

.catalog-space__price {
  font-family: "Poppins", "Verdana", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: $special-black-text;
  text-align: center;
  display: block;
}
