.slider {
  min-height: 750px;
  position: relative;
  padding-top: 120px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding-top: 70px;
  }

  @media (max-width: $mobile-width) {
    min-height: 490px;
    padding-top: 60px;
  }
}

.slider__button {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;

  &:hover {
    outline: 1px solid $basic-brown;
    outline-offset: 3px;
  }

  &:focus {
    outline: 1px solid $basic-brown;
    outline-offset: 3px;
  }

  &--prev {
    top: 150px;
    left: 0;
  }

  &--next {
    top: 150px;
    right: 0;
  }

  @media (max-width: $tablet-width) {
    &--prev {
      top: 100px;
      left: 0;
    }

    &--next {
      top: 100px;
      right: 0;
    }
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.slider__button svg {
  @media (max-width: $tablet-width) {
    width: 36px;
    height: 15px;
  }
}

.slider__text-link {
  color: $special-black-text;
  text-decoration: none;
  border-bottom: 1px solid $basic-brown;

  &:hover {
    color: $basic-brown;
  }

  &:focus {
    color: $basic-brown;
  }
}

.slider__wrapper {
  width: 100%;
  overflow: hidden;
  margin-bottom: 51px;
  position: relative;
  padding-top: 60px;

  @media (max-width: $tablet-width) {
    margin-bottom: 40px;
    padding-top: 50px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 30px;
    padding-top: 40px;
  }
}

.slider__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 9999px;
  position: relative;

  @media (max-width: $tablet-width) {
    width: 9999px;
  }
}

.slider__inner-img {
  width: 100%;
  height: auto;
  padding-bottom: 5px;

  @media (max-width: $tablet-width) {
    padding-bottom: 10px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 5px;
  }
}

.slider__inner-img img {
  height: auto;
  display: block;

  @media (max-width: $tablet-width) {
    width: 50vw;
    height: auto;
  }
}

.slider__item-link {
  text-align: center;
  margin-top: 12px;
}

.slider__item-link a {
  display: block;
  font-family: "Poppins", "Verdana", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: $special-black-text;
  margin-top: 13px;
  margin-bottom: 7px;
  text-decoration: none;

  &:hover {
    color: $basic-brown;
  }

  &:focus {
    color: $basic-brown;
  }
}

.slider__item-link span {
  font-family: "Poppins", "Verdana", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: $special-black-text;
  display: block;
}

.slider__pagination {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: max-content;
  font-family: "Poppins", "Verdana", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: $special-grey-text;
  display: flex;
  flex-direction: row;

  @media (max-width: $mobile-width) {
    display: block;
    color: $special-black-text;
    width: 50px;
    text-align: justify;
    text-align-last: justify;
  }
}

.slider__pagination span {
  &:hover {
    color: $basic-brown;
  }

  &:focus {
    color: $basic-brown;
  }
}

.slider__pagination-item {
  margin-left: 2px;
  margin-right: 2px;

  @media (max-width: $mobile-width) {
    color: $special-black-text;
  }
}

.slider__pagination-button {
  font-family: "Poppins", "Verdana", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  background-color: transparent;
  border: none;
  color: $special-grey-text;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;

  &--active {
    color: $special-black-text;
    cursor: auto;
  }
}
