.swiper-pagination-bullet {
  font-family: "Poppins", "Verdana", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  background-color: transparent;
  border: none;
  color: $special-grey-text;
  cursor: pointer;
  margin-left: 6px;
  margin-right: 6px;
}
